<div class="preview">
    <div *ngIf="previewCard">
        <iframe class="frame" width="560" height="315" [src]="previewCard.youtube_embed_url | safehtml" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="main-details">
            <h1>{{previewCard.name | upper}}</h1>
            <h4><span>Description - </span>{{previewCard.description}}</h4>
            <div class="details">
                <h4><span>Language - </span>{{previewCard.language}}</h4>
                <h4><span>Type - </span>{{previewCard.type}}</h4>
                <h3 class="rating"><span>Rating - </span>{{previewCard.rating}}/10</h3>
            </div>
        </div>
    </div>
</div>
